<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Shopping list</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <h1>Shopping list</h1>

        <label for="new_item_name">Add an item:</label>
        <input type="text" id="new_item_name">
        <button onclick="addItem()">Add</button>

        <ul id="list">
            <!-- Here will be the list of items -->
        </ul>

        <script src="script.js"></script>
    </body>
</html>